.jumbotron {
  color: #f44336;
  text-align: center;
}
.display-4 {
  font-family: "Nosifer", cursive;
  font-size: 35px;
  overflow-y: hidden;
}

.ren {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
i {
  color: #607d8b;
  cursor: pointer;
  outline: none;
}

.out {
  color: #607d8b;
}
h4 {
  display: inline-block;
}

/* .output {
  width: 400px;
} */
.new {
  display: flex;
  justify-content: space-between;
}
